/* GLOBAL AND MOBILE STYLES FIRST */

/* @media screen and (min-width: 250px) { */
 
  /*General code for website layout*/
#wrapper {
  max-width: 100%;
  margin: 0 5%;
  margin-right: 1%;
}

#welcometomp{
  text-align: center;
}

header{
  text-align: center;
}
  
a {
	text-decoration: none;
}

a:link {
	color: rgb(255, 0, 0);
}

a:visited {
	color: rgb(255, 0, 0);
}

#deliverypic {
  display: block;
  margin: 0 auto;
}

/*body background colour*/
h1 {
    background-color: black;
}

h2 {
  background-color: black;
    
}

body {
	background-color: rgb(0, 0, 0);
}
p{
  color: white;
}
.details {
margin: 0 auto;
width: 80%;
}

ul {
	color: white;
}
th {
  color: white;
}
td{
  color: white;
}
tr{
  color: white;
}

/*website body*/

body {
	font-family: 'Lato', sans-serif;
	
}

/*header*/
header {
	float: left;
	margin: 0 0 10px 0;
	padding: 5px 0 0 0;
	width: 100%;
	background: #196F3D;
	border-color:#196F3D;
	box-sizing: border-box;
	text-shadow: 1px 1px 0 black;
  background-image: linear-gradient(#1C4C1D,#27AE60);
  text-align: center;
}



/* footer */
footer {
	bottom: 10px;
  height: 65px;
  margin-top: 500px;
	left: 0;
	width: 100%;
	font-size: 1em;
	text-align: center;
	clear: both;
	padding-top: 1px;
	background: #6ab47b;
	border-top: solid white;
	color: white;
  background-image: linear-gradient(#199C0A,#000000);
}
footer img{
  width: 35px;
  height: 35px;
}
	

h1 {
	font-family: 'Droid Serif', serif;
	margin: 15px 0;
	font-size: 3em;
	font-weight: normal;
	line-height: 0.8em;
	color: green;
	box-sizing: border-box;
  text-transform: uppercase;
  text-align: center;
	
}

h2 {
    text-align: center;
	font-size: 2em;
	text-transform: uppercase;
	width: 100%;
  color: white;
}

h3 {
	text-align: center;
	color: white;
}



/*navigation*/
nav {

	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  box-sizing: border-box;
  display: none;
 
}

nav a {
	font-weight: 800;
  padding: 10px 10px;
  display: block;
  
}

a {
	color: #6ab47b;
}
nav a, nav a:visited {
	color: white
}
nav a:hover {
	background-image: linear-gradient(#000000,#00F721);
} 

.show-menu {
  display: block;
}
 

.logo div {
    width: 100px;
    height: 100px;
    
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

@keyframes example {
    0%   {left:0px; top:0px;}
    25%  {left: 1800px; top:0px;}
	75%  { left:0px; top: 0px;}
	
}
.googlemap {
  width:450px;
  height:600px; 
  border: 2px solid #00FF22;
  display: block;
}

#about-us{
  text-align: center;
}


/*SLIDESHOW PURE CSS*/
.slideshow {
  /* margin: 2em auto 1em;*/
   max-width: 1000px; /* altering this breaks the centering??? */
   height: 150px;
   overflow: hidden;
   position: relative;
   margin: auto;
 }
 
 .slideshow img {
   position: absolute;
   width: 500px;
   animation: round 16s infinite;
   opacity: 0;
 }
 
 @keyframes round {
   25% {
     opacity: 1;
   }
   40% {
     opacity: 0;
   }
 }
 
 img:nth-child(1) { animation-delay: 0s; }
 img:nth-child(2) { animation-delay: 5s; }
 img:nth-child(3) { animation-delay: 10s; }
 img:nth-child(4) { animation-delay: 15s; }
 

 /* tabs */

/*
  Hides the radio buttons ('input' tags) themselves, but not
  their labels, which form the tabs.
  
  Also sets styles for the section tags and hides them.
*/
main > input,
.tab-content  {
  display: none;
  padding: 1em;
  clear: both;
  width: 100%;
  color: white;
    

  border: 1px solid rgb(2, 100, 10);
  border-top: none;
  color: rgb(247, 255, 247);
}

 
label {
  display: block;
  box-sizing: border-box;
  float: left;
  width: 50%;
  color: #000000;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  background: #eee;
  line-height: 3em;
  /* border-right: 1px solid #444; */
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3 {
  display: block;
  width: 100%;
}

/* Styles label elements (tabs) *only* when they're 'checked' */


[id^="tab"]:checked + label {
  background: #158508;
  color: #030202;
}
[id^="tab"]:checked + label .fa {
  color: #000000;
}

/* --------- Basic animation for our services --------- */
/*
  this can all be commented out without
  affecting the functionality of the tabs
*/


.tab_container section  {
  animation: fadeIn 0.7s ease-in-out;
}


@keyframes fadeIn {

  0% { 
  	opacity: 0;
  }

  100% { 
  	opacity: 1;
  }
  
}

#prescription {
  list-style-type:square;
}

/* CONTACT US FORM*/
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #00FF40; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #000000;
}



/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px;
}
/* hover to change colour of the columns on the main page*/
div.column :hover{
background-color: #00F721;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
/*home page colums*/
.column {
  width: 100%;
}
/* nav {
width: 33;
} */

 /* css for contact us webform */
  
 #fname {
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}
#lname {
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}

#email {
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}

#number{
  float: left;
  clear: both;
  width: 100%;
  height: 30px;
  margin-bottom: 30px;
}
#branch {
  float: left;
}

 
/* css for table */
.table {
  width: 100%;
  overflow: scroll;
  overflow: auto;
}


/* contact us table */
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
td,
th {
  border: 1px solid #00ff0d;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #047504;
}

/* PRESCRIPTIONS WEBPAGE */

p {
  margin-left: 100px;
  margin-right: 100px;
  }
  
  ul {
  margin-left: 100px;
  margin-right: 100px;
  }
  
  
/*hover over image */
/* this is css for hover over image on prescriptions page */
.container {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
 
#contactusform {
  background-color: grey;
} 

#feedbackform
{
  background-color: grey;
}

#subjectlabel {
  background-color: grey;
  margin-left: 24%;
}

.image {
opacity: 1;
display: block;
width: 100%;
height: auto;
transition: .5s ease;
backface-visibility: hidden;
}

.middle {
transition: .5s ease;
opacity: 0;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%)
}

.container:hover .image {
opacity: 0.3;
}

.container:hover .middle {
opacity: 1;
}

.text {
background-color: #4CAF50;
color: white;
font-size: 16px;
padding: 1px 45px;
}



.contentheading {
  text-align: center;
  border: none;
  width: 100%;
}



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  background: #000000;
}

li {
  height: 50px;
  line-height: 50px;
  border-top: 1px solid #00FF40;
}

ul a {
  display: block;
  height: 100%;
  text-decoration: none;
  color: #000000;
  padding-left: 10px;
  position: relative;
  transition: background .3s;
}

ul a:after {
  content: '⇢';
  position: absolute;
  right: 10px;
}

ul a:hover {
  background: #cdcbc4;
}
/* CHECKBOX CONTAINER STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.container {
  position: relative;
  height: auto;
  border-top: 0;
}

[type="checkbox"] {
  position: absolute;
  left: -9999px;
}

#infotab {
  background: #186D07;
  display: block;
  width: 100%;
  height: 50px;
  cursor: pointer;
  position: absolute;
  top: 0;
  transition: top .45s cubic-bezier(.44, .99, .48, 1);
}


#infotab:before,
#infotab:after {
  position: absolute;
}

#infotab:before {
  content: 'More';
  left: 10px;
}

#infotab:after {
  content: '⇣●';
  right: 10px;
  -webkit-animation: sudo .85s linear infinite alternate;
  animation: sudo .85s linear infinite alternate;
}

@keyframes sudo {
  from {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  to {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
  }
}

input[type="checkbox"] ~ ul {
  width: 100%;
  overflow: hidden;
  max-height: 0;
  transition: max-height .45s cubic-bezier(.44, .99, .48, 1);
}
/* CHECKED STATE STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[type="checkbox"]:checked ~ ul {
  /**
   * the value of the `max-height` property specifies the transition speed
   * set a very big value (e.g. 9999px) to see the difference
   */
  
  max-height: 100%;
}

[type="checkbox"]:checked + #infotab {
  top: 100%;
  
}

[type="checkbox"]:checked + #infotab:before {
  content: 'Less';
}

[type="checkbox"]:checked + #infotab:after {
  content: '⇡●';
}

ul li:last-child {
  margin-bottom: 50px;
}








/* }END OF MOBILE BREAKPOINT */




/* FIRST BREAKPOINT (MEDIUM SIZE) */
@media screen and (min-width: 500px) {
  nav a {
    width: 44%;
    display: inline-block;
  }
  
  .maps { 
    text-align: center;
  }
  .maps div {
    display: inline-block;
  }
  .googlemap {
    clear: both;
    display: block;
    /* width:450px; */
    height:600px; 
    border: 2px solid #00FF22;
  }
  /*SLIDESHOW PURE CSS*/
.slideshow {
   height: 300px;
 }
 


  
} /* END FIRST BREAKPOINT */





/* SECOND BREAKPOINT (DESKTOP SIZE) */
@media screen and (min-width: 1000px) {
  nav {
    display: block;
  }
  nav a {
    line-height: 3em;
    width: inherit;
  }
  #menu {
    display: none;
  }
  main {
    max-width: 1000px;
  }
  #logo {
    width:100px;
    float:left;
  }
  .column {
    width: 31.25%;
}

.row{
  text-align: center;
  margin-left: 3%;
  margin-right: 0%;
  
}

 /* css for search bar  */
  input[type=text] {
      width: 130px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: rgb(2, 105, 20);
      background-position: 10px 10px; 
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }
  input[type=text] { 
    color: white;
  }
  input[type=text]:focus {
      width: 100%;
  }
  .tab_container{
  
   margin-left: auto;
   margin-right: auto;
  } 
    /*SLIDESHOW PURE CSS*/
.slideshow {
  height: 400px;
}




}